.desertiki {
    padding-top: 30px;
    text-align: center;
}

.listOfDeserts {
    justify-content: center;
}

.columnOne {
    margin: 20px;
    padding-top: 30px;
}

.list__des {
    font-size: 24px;
}

.reseptOfDes {
    display: flex;
}

.list__vid {
    text-align: right;
   padding-top: 70px;
    padding-left: 50px;
}

.listofIngridients {
    width: 500px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 30px;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 150px;
}